@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Smythe&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Smythe", cursive;
  background-color: #293241;
  color: #293241;
}

/*Text*/
h1, h2, .menu-category-header, .menu-item-name, p {
  margin-top: 0;
  letter-spacing: 2.5px;
}

h1, h2 {
  color: #f8f9fa;
}

h2 {
  font-size: 1rem;
}

.menu-category-header {
  text-align: center;
  padding: 1rem 0;
  border-bottom: 2px solid #293241;
  border-top: 2px solid #293241;
}

.menu-item-name, p {
  margin-bottom: 0.5rem;
  letter-spacing: 1.5px;
}

.additional-text, .remove-button {
  font-size: smaller;
  color: #495057;
}

.bold-text {
  font-weight: bold;
}

i {
  font-size: larger;
}
i:hover {
  color: #3c1642;
  cursor: pointer;
}
i:active {
  text-shadow: 1px 1px 1px #000000;
}

/*Layout*/
.hide {
  display: none !important;
}

header, main, .shadow-wrapper, .order {
  max-width: 600px;
  margin: auto;
  padding: 1.5rem 2.5rem;
}

header {
  background-image: url(images/background.png);
  background-size: cover;
}

main, .order {
  background-color: #f8f9fa;
}

.shadow-wrapper {
  box-shadow: 0 0 15px 1px #000000;
  padding: 0;
  position: relative; /*for payment form*/
}

.menu-item {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-item:last-child {
  margin-bottom: 0;
}

.menu-item-desc {
  margin-right: auto;
}

.menu-item-img {
  max-width: 150px;
  border-radius: 10px;
  margin-right: 1rem;
}

.order {
  padding-top: 0;
}

.price, .order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  border-top: 1px solid #3c1642;
}

.order-item:first-child {
  border-top: none;
}

.buttons {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #3c1642;
  color: #f8f9fa;
  border: none;
}
.buttons:hover {
  opacity: 0.9;
  cursor: pointer;
}
.buttons:active {
  box-shadow: inset 1px 1px 3px 1px #000000;
}

.remove-button {
  padding-left: 1rem;
}
.remove-button:hover {
  color: #3c1642;
  cursor: pointer;
}

.payment-form {
  background-color: #f8f9fa;
  box-shadow: 0 0 10px 3px #000000;
  position: absolute;
  top: 50%;
  left: 2.5rem;
  right: 2.5rem;
  padding: 0 1rem 1rem 1rem;
}
.payment-form .menu-category-header {
  border-top: none;
}
.payment-form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  line-height: 2rem;
  padding-left: 0.5rem;
  /*Remove number input’s spin box*/
}
.payment-form input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.payment-form input::-webkit-outer-spin-button, .payment-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.completed-order {
  width: 100%;
  padding: 1rem 0;
  background-color: #3c1642;
  color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

/*Raiting component*/
.rating-component:not(:checked) > input {
  display: none;
}
.rating-component:not(:checked) > input:checked ~ label {
  color: #1be7ff;
  text-shadow: 1px 1px #000000;
}
.rating-component:not(:checked) > label {
  float: right;
  width: 2.5rem;
  padding: 0;
  cursor: pointer;
  font-size: 2rem;
  line-height: 2rem;
  color: #f8f9fa;
  text-shadow: 1px 1px #000000;
}
.rating-component:not(:checked) > label:before {
  content: "★";
}
.rating-component:not(:checked) > label:hover, .rating-component:not(:checked) > label:hover ~ label {
  color: #1be7ff;
}

/*Media queries*/
@media (max-width: 420px) {
  header, main, .shadow-wrapper, .order {
    max-width: 100%;
    padding: 1rem 0.5rem;
  }
  .shadow-wrapper {
    padding: 0;
  }
  .remove-button {
    padding-left: 0.2rem;
  }
}/*# sourceMappingURL=style.css.map */